<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

@using DACN_WebXemLichDaBong.Areas.Admin.Models;
@model DoiBongViewModel;

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <a style=" margin-left: 400px;" href="/Admin/DoiBong/Index/@Model.GiaiDauId">Hủy</a>
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Thêm Đội Bóng</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <form method="post" asp-controller="DoiBong" asp-action="Create" class="tm-edit-product-form">
                            <input value="@Model.GiaiDauId" name="GiaiDauId" type="text" hidden>
                            <div class="form-group mb-3">
                                <b>Thuộc Giải Đấu</b><input value="@Model.TenGiaiDau" type="text" readonly>
                            </div>
                            <div class="form-group mb-3">
                                <b>Tên Đội Bóng</b><input name="TenDoiBong" type="text" autocomplete="off" required>
                            </div>
                            <div class="form-group mb-3">
                                <b>Link Ảnh Đội Bóng</b><input name="AnhDoiBong" type="text" autocomplete="off">
                            </div>
                            <div class="form-group mb-3">
                                <b>Tên Huấn Luyện Viên</b><input name="TenHuanLuyenVien" type="text" autocomplete="off" required>
                            </div>
                            <div class="form-group mb-3">
                                <b>Thông Tin Thêm</b><input name="ThongTinThem" type="text" autocomplete="off" required>
                            </div>
                            <div class="form-group mb-3">
                                <b> Quốc Gia </b>
                                <select name="QuocGiaId">
                                    <option selected="selected">--Chọn Quốc Gia--</option>
                                    @foreach (var httd in Model.QuocGias)
                                    {
                                        <option value="@httd.QuocGiaId">@httd.TenQuocGia</option>
                                    }
                                </select>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">Thêm Đội Bóng</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

