@using DACN_WebXemLichDaBong.Models;
@model IList<Account>

<!-- row -->
<div class="row tm-content-row">
    <div class="col-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
            <h2 class="tm-block-title">Orders List</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tài Khoản</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mức Độ Đăng Nhập</th>
                        <th scope="col">Lần Đăng Nhập Gần Nhất</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var acc in Model)
                    {
                    <tr>
                        <td><b>@acc.TaiKhoan</b></td>
                        <td><b>@acc.Email</b></td>
                        <td>@acc.MucDoDangNhap</td>
                        <td>@acc.LanDangNhapGanNhat</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

