<!doctype html>
@using Microsoft.AspNetCore.Http;
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/SigninSignup/css/style.css">

    @{
        Layout = null;
    }
</head>
<body style="background-image: url(../img/background.jpg); background-repeat: no-repeat; background-position: bottom;">
    @if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
            alert("@TempData["alertMessage"]");
        </script>
    }
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Đăng Nhập</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form method="post" asp-controller="SigninSignup" asp-action="Signin" class="login-form">
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                <input type="text" class="form-control rounded-left" name="TaiKhoan" autocomplete="on" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                <input type="password" class="form-control rounded-left" name="MatKhau" autocomplete="off" required>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <div class="w-100 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary rounded submit" style="margin-right: 100px;">Đăng Nhập</button>
                                </div>
                            </div>
                            <div class="form-group mt-4">
                                <div class="w-100 text-center">
                                    <p class="mb-1">Chưa Có Tài Khoản? <a href="/SigninSignup/Signup">Đăng Ký</a></p>
                                    <p><a href="#">Quên Mật Khẩu</a></p>
                                </div>
                            </div>
                            <br />
                            <div>
                                <div class="w-100 text-center">
                                    <a href="@Url.Action("Index", "Home" )">Trang Chủ</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/LoginSignup/js/jquery.min.js"></script>
    <script src="~/LoginSignup/js/bootstrap.min.js"></script>

</body>
</html>